@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
/* from here */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
    h1, h2 {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: white;
    }
    ul {
      margin-left: 20px;
    }
.hero-container{
    width: 100vw;
    height: 100vh;
}
 .big-big-box{
    display: flex;
    flex-direction: row;
  }
.big-left-box{
    position: fixed;
    display: flex;
    flex-direction: column;
    width:15px;
    height: 7813px;
    background-color: #C91E21;
}
.big-right-box{
    display: flex;
    flex-direction: column;
    height: 6644px;
    background-color: #ffffff;
    border-radius: 0 0 70px 70px;
}
.crowd-funding-box{
    background-color: #F3F6FD;
    height: 174px;
    width: auto;

}
.text1{
    color: #8C0100;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight:300;
    font-size: 96px;
    margin-left: 86px;
    height: 174px;
    width: auto;
    padding: 20px;
}
.box-heading{
  display: flex;
  flex-direction: row;
  margin-left: 118px;
  margin-top: 20px;
}

.box-logo{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/box-logo.png');
  margin-right: 10px;
}
.team-name{
  margin-top: 10px;
   font-family: 'Inter', sans-serif;
  font-weight: 700;        /* Bold */
  font-size: 24px;
  line-height: 1;          /* Closest to 0% / tight line height */
  letter-spacing: -0.09em;
}
.title-caption{
  margin-left: 110px;
  margin-top: 35px;
  height: 31px;
  width: 431px;
   font-family: 'Inter', sans-serif;
  font-weight: 700;          /* Bold */
  font-size: 24px;
  line-height: 1.259;        /* 125.9% */
  letter-spacing: 0.05em;
}
.image-container {
  position: relative;
  margin-left: 10px;
  width: 460px;
  /* aspect-ratio: 3/4; */
  margin-top: 15px;
  margin-left: 110px;
  border-radius: 12px;
  /* overflow: hidden; */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}
.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.next-button{
  display: none;
}
.contact-box{
  display: none;
}
.content {
  max-width: 760px;
  margin-left: 110px;
  margin-top: 20px;
}

h3,
p,
li {
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 500;          /* Medium */
  font-size: 24px;
  line-height: 1.82;         /* 182% */
  letter-spacing: -0.09em;   /* -9% */
}

.bold {
  font-weight: 600;
}

.images{
  margin-left: 110px;
}
.footer-divider {
  height: 1px;
  background-color: #8b3a3a;
}
.aa{
  display: flex;
  flex-direction: column ;
  align-items: end;
  margin-right: 30px;
}
.big-box{
  display: flex;
  flex-direction: row;
  gap: 150px;
}
.box2{
  margin-top:50px;
}
  .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 9px;
  background-color: #f5f7fa;
  width: 96%;
  margin-left: 16px;
  margin-top: 10px;
}

.copyright {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #b00000; 
  margin: 0;
  padding: 0 0 0 20px;
}
 
 .footer-icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer-icon {
  font-size: 31px;
  color: #b04a4a;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
  opacity: 0.85;
}
@media (min-width: 330px) and (max-width: 440px){
   .big-big-box{
    display: flex;
    flex-direction: row;
  }
.big-left-box{
    position: fixed;
    display: flex;
    flex-direction: column;
    width:12px;
    height: 5900px;
    background-color: #C91E21;
}
.big-right-box{
    display: flex;
    flex-direction: column;
    height: 5218px;
    background-color: #ffffff;
    border-radius: 0 0 70px 70px;
}
.crowd-funding-box{
    background-color: #F3F6FD;
    height: 52px;
    width: 100%;

}
    /* color: #8C0100;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight:300;
    font-size: 96px;
    margin-left: 86px;
    height: 174px;
    width: auto;
    padding: 20px; */
.text1{
    font-weight:300;
    font-size: 26px;
    margin-left: 38px;
    height: 29px;
    width: 100%;
    padding: 8px 0 0 0;
}
.box-heading{
  display: flex;
  flex-direction: row;
  margin-left: 39px;
  margin-top: 20px;
}

.box-logo{
  width: 39px;
  height: 39px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/box-logo.png');
  margin-right: 10px;
}
.team-name{
  margin-top: 10px;
   font-family: 'Inter', sans-serif;
  font-weight: 700;   
  font-size: 16px;
  line-height: 1;         
  letter-spacing: -0.09em;
}
.title-caption{
  margin-left: 37px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 314px;
   font-family: 'Inter', sans-serif;
  font-weight: 700;        
  font-size: 24px;
  line-height: 1.259;     
  letter-spacing: 0.05em;
}
.image-container {
  position: relative;
  margin-left: 10px;
  width: 373px;
  /* aspect-ratio: 3/4; */
  margin-top: 15px;
  margin-left: 40px;
  border-radius: 12px;
  /* overflow: hidden; */
  /* box-shadow: white; */
}
.main-image {
  width: 373px;
  height: 498px;
  object-fit: cover;
}
.next-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 286px;
  height: 65px;
  background-color: #F0F5FB;
  border-radius: 46px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 77px;
  margin-top: 10px;
}
.text-button{
  width: 65px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;          /* Bold */
  font-size: 32px;
  line-height: normal;       /* matches 0% / auto line height */
  letter-spacing: -0.09em;   /* -9% in Figma */
  color: #6687CB;
}
.contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F6FD;
  opacity: 1;
  border-radius: 39px;
  border: none;
  width: 386px;
  height: 188px;
  margin-left: 35px;
  margin-top: 15px;
}

.contact-text{
  font-family: 'Lexend Exa', sans-serif;
  font-weight: 500;          /* Medium */
  font-size: 22px;

  line-height: 1.82;         /* 182% */
  letter-spacing: -0.09em;   /* -9% */

  color: #404348;
}
.content {
  max-width: 760px;
  margin-left: 29px;
  margin-top: 20px;
}

h3,
p,
li {
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 500;         
  font-size: 20px;
  line-height: 1.82;        
  letter-spacing: -0.09em;   
}

.bold {
  font-weight: 600;
}

.images{
  margin-left: 30px;
}
.ma{
  width: 384px;
  height: 216px;
}
/* .footer-divider {
  height: 1px;
  background-color: #8b3a3a;
} */
/* .aa{
  display: flex;
  flex-direction: column ;
  align-items: end;
  margin-right: 30px;
} */
.big-box{
  display: flex;
  flex-direction: column;
}
.box1{
  display: flex;
  flex-direction: column;
  align-items: stretch;

}
.box2{
  display: none;
  margin-top:00px;
}
  .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 9px;
  background-color: #f5f7fa;
  width: 96%;
  margin-left: 16px;
}

.copyright {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 8px;
  font-weight: 500;
  color: #b00000; 
  margin: 0;
  padding: 0 0 0 20px;
}
 
 .footer-icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer-icon {
  font-size: 24px;
  color: #b04a4a;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
  opacity: 0.85;
}

}
