@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
.hero-container {
    width: 100vw;
    height: 100vh;
}
.imgg{
        width: auto;
        height: 279px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/fswinner.jpg');
    }
.text-box{
    background-color: #B9B9B9;
    height: 1048px;
}
.text1{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    margin-left: 10px;
    height: 82px;
    width: 351px;
    margin-bottom:10px;
}
.accountdetails{
    width: 490px;
    height: 181px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    margin-bottom: 10px;
}
.qr{
    width: 450px;
    height: 613px;
    margin-left: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/qrimg.png');
}
.caption{
    width:auto;
    height: 1316px;
    color: white;
    background-color: #080606;
    font-size: 24px;
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
    /* padding-top: 10px;
    padding-left: 13px;
    padding-right: 5px; */
}

@media (min-width: 768px) and (max-width: 1439px) {
  .imgg{
        width: 1300px;
        height: 480px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/fswinner.jpg');
    }
    .text-box{
    background-color: #B9B9B9;
    height: 1048px;
    width: 1300px;
    }
    .text1{
    font-weight: 500;
    font-size: 50px;
    margin-left: 260px;
    height: 82px;
    width: 1020px;
}
.accountdetails{
    width: 490px;
    height: 181px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 450px;
    margin-bottom: 10px;
}
.qr{
    width: 450px;
    height: 613px;
    margin-left: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/qrimg.png');
}
.caption{
    width:1300px;
    height: auto;
    color: white;
    background-color: #080606;
    font-size: 24px;
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
    /* padding-top: 10px;
    padding-left: 13px;
    padding-right: 5px; */
}

}
@media (max-width: 513px){
    .imgg{
        width: 540px;
        height: 279px;
    }
    .text-box{
    background-color: #B9B9B9;
    height: 1048px;
    width: 540px;
    }
    .text1{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    margin-left: 10px;
    height: 82px;
    width: 351px;
    margin-bottom:10px;
}
.accountdetails{
    width: 490px;
    height: 181px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    margin-bottom: 10px;
}
.qr{
    width: 450px;
    height: 613px;
    margin-left: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/qrimg.png');
}
.caption{
    width:540px;
    height: 1316px;
    color: white;
    background-color: #080606;
    font-size: 24px;
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
    /* padding-top: 10px;
    padding-left: 13px;
    padding-right: 5px; */
}
}
