@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
.hero-container{
    width: 100vw;
    height: 100vh;
}
.imgg{
    width: auto;
    height: 529px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/fswinner 2.png');
}
.text-box{
    height: 1000px;
    background-color: #BDBDBD;
    border-radius: 0 0 70px 70px;
}
.text1{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight:300;
    font-size: 96px;
    margin-left: 30px;
    height: 116px;
    width: 1056px;
    margin-bottom: 10px;
}
.mk{
    display: flex;
    flex-direction: row;
    margin-top: 54px;
}
.accountdetails{
    width: 884px;
    height: 360px;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 64px;
}
.qr{
    width: 450px;
    height: 613px;
    /* margin-left: 25px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/qrimg.png');
}
.bg-text-box{
    background-color: black;
}
.text2{
    color: white;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight:300;
    font-size: 64px;
    margin-left: 30px;
    height: 116px;
    width: 1056px;
}
.text-bg{
    background-color: black;
}
.caption{
    width:auto;
    height: auto;
    color: white;
    background-color: #080606;
    font-size: 24px;
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal; 
    margin-left: 30px;
 }
 .heading1{
    font-family: "Della Respira", serif;
    font-weight: 500;
    font-size: 30px;
 }
@media screen and (min-width: 1258px) and (max-width: 1390px) {
    .accountdetails{
    width: 800px;
    height: 360px;
    font-size: 40px;
    margin-left: 44px;
    }
    .qr{
    width: 400px;
    height: 560px;
    }
    .text-box{
    height: 920px;
    }
}

@media screen and (min-width: 1096px) and (max-width: 1258px){
    .imgg{
    width: 1310px;
    }
    .accountdetails{
    width: 700px;
    height: 360px;
    font-size: 40px;
    margin-left: 44px;
    }
    .qr{
    width: 323px;
    height: 450px;
    }
    .text-box{
    height: 840px;
    width: 1310px;
    }
    .bg-text-box{
    width: 1310px;
    }
    .text-bg{
        width: 1310px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1096px){
    .imgg{
    width: 1311px;
    }
    .accountdetails{
    width: 700px;
    height: 360px;
    font-size: 40px;
    margin-left: 44px;
    }
    .qr{
    width: 323px;
    height: 450px;
    }
    .text-box{
    height: 820px;
    width: 1311px;
    }
    .text-bg{
    width: 1311px;
    }
    .bg-text-box{
    width: 1311px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .imgg{
    width: 1095px;
    }
    .accountdetails{
    width: 700px;
    height: 360px;
    font-size: 35px;
    margin-left: 30px;
    }
    .bg-text-box{
    width: 1095px;
    }
    .qr{
    width: 323px;
    height: 450px;
    }
    .text-box{
    height: 820px;
    width: 1095px;
    }
    .text-bg{
    width: 1095px;
    }
    .text1{
    font-size: 76px;
    width: 1050px;
}
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .imgg{
    width: 1095px;
    }
    .text-box{
    height: 860px;
    width: 1095px;
    }
    .accountdetails{
    width: 600px;
    height: 360px;
    font-size: 35px;
    margin-left: 20px;
    }
    .qr{
    width: 360px;
    height: 500px;
    }
    .text1{
    font-size: 76px;
    width: 1050px;
    }
    .bg-text-box{
    width: 1095px;
    }
    .text-bg{
    width: 1095px;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .imgg{
        width: 1100px;
        height: 479px;
        background-image: url('/fswinner 1.png');
    }
.text-box{
    background-color: #B9B9B9;
    height: 2429px;
    width: 1100px;
}
.mk{
    display: block;
}

.text1{
    font-weight: 500;
    font-size: 100px;
    margin-left: 10px;
    height: 250px;
    width: 800px;
    margin-bottom:10px;
    margin-left: 40px;
}
.accountdetails{
    width: 990px;
    height: 501px;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    margin-bottom: 10px;
}
.qr{
    width: 1020px;
    height: 1413px;
    margin-left: 40px;
}
.text-bg{
    width: 1100px;
}
.bg-text-box{
width: 1095px;
}
.caption{
    width:auto;
    height: 3216px;
    font-size: 54px;
    font-weight: 400;
    font-style: normal; 
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 5px; 
    }
 .heading1{
    font-weight: 500;
    font-size: 60px;
 }
 .text2{
    font-weight:300;
    font-size: 74px;
    margin-left: 30px;
    height: 250px;
    width: 1056px;
    }
} 
